src/main/mule/implementations/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
		
	<flow name="delete">
		
		<logger 
			level="INFO" 
			doc:name="start" 
			message='#["Delete record id=" ++ attributes.uriParams.id]'
			category="app"/>
		
		<salesforce:delete doc:name="Delete" config-ref="GlobalSalesforceConfig" >
			<salesforce:ids ><![CDATA[#[[attributes.uriParams.id]]]]></salesforce:ids>
		</salesforce:delete>
		
		<choice doc:name="Choice">
			<when expression="#[payload.successful]">
				<logger doc:name="success" 
					level="DEBUG"
					message="The record was deleted" 
					category="app"/>
					
				<ee:transform doc:name="success message">
					<ee:variables >
						<ee:set-variable variableName="message" ><![CDATA["${messages.record-delete-success}"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<logger doc:name="error"
					level="DEBUG" 
					message="The customer couldn't be deleted" 
					category="app"/>
					
				<ee:transform doc:name="error message">
					<ee:variables>
						<ee:set-variable variableName="message" ><![CDATA["${messages.record-delete-error}"]]></ee:set-variable>
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		
		<set-payload doc:name="response"
			value="#[output application/json --- { message: vars.message }]" />
			
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
