src/main/mule/implementations/post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
		
	<flow name="post">
		
		<logger 
			level="INFO" 
			doc:name="Logger" 
			message="#[${file::script-log-create.dwl}]"
			category="app"/> 

		<ee:transform doc:name="set filter name and OpenTelemetry" >
			<ee:variables >
				<ee:set-variable variableName="openTelemetryTags" ><![CDATA[%dw 2.0
				output application/java
				---
				{
				    "firstName": payload.firstName default "",
				    "lastName": payload.lastName default "",
				    "email": payload.email default ""
				    
				}]]>
				</ee:set-variable>			
				<ee:set-variable variableName="location" ><![CDATA[attributes.requestUri ++ "/"]]></ee:set-variable>
				<ee:set-variable variableName="firstName" ><![CDATA[payload.firstName]]></ee:set-variable>
				<ee:set-variable variableName="lastName" ><![CDATA[payload.lastName]]></ee:set-variable>
				<ee:set-variable variableName="payloadBackup" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<flow-ref 
			doc:name="Query records" 
			name="query"/>
					
		<choice doc:name="Record Exist?" >
			<when expression="#[sizeOf(payload) == 0]">
				<remove-variable doc:name="Remove firstName" variableName="firstName"/>
				<remove-variable doc:name="Remove lastName" variableName="lastName"/>				
				<ee:transform doc:name="set filter email" >
					<ee:variables >	
						<ee:set-variable variableName="email" ><![CDATA[vars.payloadBackup.email]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				
				<flow-ref doc:name="Query records" name="query" />
				
				<choice doc:name="Choice" >
					<when expression="#[sizeOf(payload) == 0]">
					
						<flow-ref doc:name="createRecord" name="createRecord" />
					
					</when>
					<otherwise>
						<flow-ref doc:name="record already exists" name="record-already-exists" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<flow-ref doc:name="record already exists" name="record-already-exists"/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler" />		
	</flow>
	
	<sub-flow name="createRecord">
		<logger 
			level="DEBUG" 
			doc:name="Logger" 
			message="The record is going to be created" 
			category="app"/>

		<ee:transform doc:name="SQL Insert Payload" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
				output application/json
				---
				[
					vars.payloadBackup mapObject ((value, key, index) -> 
				        (key as String)  : value
				    )
				]]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger 
			level="DEBUG" 
			doc:name="Logger" 
			message="#[output application/java --- payload]" 
			category="app"/>

		<salesforce:create 
			type="Contact" 
			doc:name="Create record" 
			config-ref="GlobalSalesforceConfig"/>

		<logger 
			level="DEBUG" 
			doc:name="Logger" 
			message="#[output application/json --- payload]" 
			category="app"/>

		<choice doc:name="verify success" >
			<when expression="#[payload.successful == true]">
				<logger 
					level="DEBUG" 
					doc:name="Logger"  
					message="#['Record created successfully with id=' ++ payload.items[0].id]" 
					category="app"/>

				<ee:transform doc:name="headers and response" >
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
							output application/json
							---
							{
							message: "${messages.record-create-success}"
							}]]>
						</ee:set-payload>
					</ee:message>

					<ee:variables >
						<ee:set-variable 
							variableName="outboundHeaders" ><![CDATA[ ${file::script-outbound-headers.dwl} ]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>

			<otherwise >
				<logger 
					level="DEBUG" 
					doc:name="Logger"
					message="The record couldn't be created" 
					category="app"/>
				
				<ee:transform doc:name="Status 500 Response" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0 output application/json --- { message: "${messages.record-create-error}"}]]></ee:set-payload>
					</ee:message>

					<ee:variables >
						<ee:set-variable 
							variableName="httpStatus" ><![CDATA["500"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	
	<sub-flow name="record-already-exists" >
		<logger
			level="DEBUG" 
			doc:name="Logger"
			message="The record already exists in the database"
			category="app" />
		<ee:transform doc:name="response" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
							output application/json
							---
							{
							  message: "${messages.record-exists}"
							}
							]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[409]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>

</mule>
