src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
    xmlns:opentelemetry="http://www.mulesoft.org/schema/mule/opentelemetry" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
    xmlns:http="http://www.mulesoft.org/schema/mule/http" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core 
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
        http://www.mulesoft.org/schema/mule/http 
        http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
        http://www.mulesoft.org/schema/mule/mule-apikit 
        http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
        http://www.mulesoft.org/schema/mule/ee/core
        http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
    ">

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]"> 
                <http:body>#[payload default {}]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response> 
        </http:listener>
		<apikit:router config-ref="api-config" />
		<error-handler ref="global-error-handler"/>
    </flow>

    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body> 
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener> 
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-error-handler" />
    </flow>
    
    <flow name="get:\contact:api-config">
		<flow-ref doc:name="getByFilter" name="get-by-filter"/>
    </flow>
    
    <flow name="get:\contact\(id):api-config">
		<flow-ref doc:name="getById" name="get-by-id"/>
    </flow>
    
    <flow name="post:\contact:application\json:api-config">
		<flow-ref doc:name="post" name="post"/>
    </flow>
    
	<flow name="delete:\contact\(id):api-config" >
		<flow-ref doc:name="delete" name="delete" />
	</flow>
</mule>
